{% extends "stock/layout.html" %}

{% block body %}

    <h1 id="index-header">Search:</h1>

    <div id="search">
        <input type="text" id="searchbar">
        <input type="button" value="Search" onclick="search()">
    </div>
    <h1 id="stock-name" style="display: none;">Stock Name</h1>
    <div id="stock" style="display: none;">
        <div id="stock-data">
            $<p id="current-price">123</p> per share
            <br>
            <input type="number" id="amount">
            <input type="button" value="Buy" onclick="buy()">
            <br>
            <div id="openTransaction" style="display: none;">
                <form action="POST">
                    {% csrf_token %}
                    <input type="number">
                    <input type="button" value="Sell" onclick="sell()">
                    <br>
                    Shares bought: <p id="shares-bought">0</p> Current profit: <p id="current-profit">0</p>
                </form>
            </div>
        </div>
        
        <canvas id="historyYear" style="display: block;"></canvas>      
        <canvas id="historyDay" style="display: block;"></canvas>
    </div>
{% endblock %}