#stock {
    display: flex;
}

#stock-data {
    text-align: center;
}

#stock-name {
    text-align: center;
}
#index-header {
    margin-top: 10%;
    text-align: center;
}

#search {
    text-align: center;
}

#current-price {
    display: inline;
}

#shares-bought {
    display: inline;
}

#current-profit {
    display: inline;
}

#historyYear {
    float: left;
    width: 50%;
}

#historyDay {
    float: left;
    width: 50%;
}

#portfolio-title {
    text-align: center;
}

#portfolio-networth {
    text-align: center;
}

#portfolio-information {
    text-align: center;
}

#portfolio-container {
    position: absolute;
    left: 28%;
    width: 850px;
    height: 850px;
}